/* 
    Created on : Jun 14, 2016, 2:17:28 PM
    Author     : kuku
*/
::selection { background-color: #E13300; color: white; }
::-moz-selection { background-color: #E13300; color: white; }
html,
body {
    height: 100%;
  width: 100%;
}

body{
    background-color: #fff;
    margin: 0px;
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
    color: #4F5155;
}
.help-block{
font-family: Consolas, Monaco, Courier New, Courier, monospace;
}
hr {
  border-color: #6f5499;
  border-width: 3px;
  max-width: 50px;
}

hr.light {
  border-color: white;
}

a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #6f5499;
}
a:hover,
a:focus {
  color: #eb3812;
}

h1 {
    color: #444;
    background-color: transparent;
    border-bottom: 1px solid #D0D0D0;
    font-size: 19px;
    text-align: center;
    font-weight: normal;
    margin: 0 0 14px 0;
    padding: 14px 15px 10px 15px;
}

code {
    font-family: Consolas, Monaco, Courier New, Courier, monospace;
    font-size: 12px;
    background-color: #f9f9f9;
    border: 1px solid #D0D0D0;
    color: #002166;
    display: block;
    margin: 14px 0 14px 0;
    padding: 12px 10px 12px 10px;
}


p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

#body {
    margin: 0 15px 0 15px;
}

#container {
    margin: 10px;
    border: 1px solid #D0D0D0;
    box-shadow: 0 0 8px #D0D0D0;
}
.navbar-default .nav>li>a, .navbar-default .nav>li>a:focus {
    font-family: Consolas, Monaco, Courier New, Courier, monospace;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    color: white;
}
.navbar-default .navbar-header .navbar-brand {
    color: #6f5499;
    text-transform: uppercase;
}
.dropdown-toggle:hover{
    background-color: transparent;
}
.dropdown-nav{
    background-color: transparent;
}
.dropdown-nav >li >a {
    color: white
}
.banner{
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
    position:relative;
    color:#cdbfe3;
    text-align:center;
    height: 500px;
    margin-top: 0px;
    background-color:#6f5499;
}
.banner-search{
    font-family: Consolas, Monaco, Courier New, Courier, monospace;
    position:relative;
    color:#cdbfe3;
    text-align:center;
    height: 300px;
    margin-top: 0px;
    background-color:#6f5499;
}
.lost_help{
    font-weight: bold;
}
.lead{
    text-transform: capitalize;
}
.navbar-ves{
    background-color: #6f5499;
    color: #fff;
    margin-bottom: 20px;
}
.navbar-ves a{
    color: #fff;
}
.navbar-ves a:hover{
    color: #000;
    display: block;
}
.bs-docs-header .container{
    position:relative
}
.banner-content{
    margin-top: 200px;
}
.banner .losthelp {
    margin-top: 30px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}
.search-help{
    margin-top: 60px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}

//search page
#form-search input[type=text]{
    width: 100%;
    height: 50px;
    border-radius: 0px;
    box-sizing: border-box;
    font-size: 16px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
#form-search input[type=text]:focus {
    width: 100%;
    height: 50px;
    border-radius: 0px;
}
.myModal{
    background-color: rgba(255, 255, 255, 0.7);
}
.modal-header{
    background-color: transparent;
}

.claim-form{
    margin-top: 10px;
    padding:  12px 20px 12px 40px;
    font-family: Consolas, Monaco, Courier New, Courier, monospace;
}
.btn-claim{
    border-radius: 0px;
    background-color: #6f5499;
    color: white;
    height: 50px;
    width: 100%;
}
@media (min-width: 992px) {
  .modal-lg {
    width: 600px;
    margin-top: 100px;
  }
}
#inputSearch{
    width: 100%;
    height: 50px;
    border-radius: 0px;
}
#form-search select{
    width: 100%;
    height: 50px;
    border-radius: 0px;
} 
#form-search button{
    width: 70%;
    height: 50px;
    border-radius: 0px;
}
#search-content{
    padding-top: 30px;
}

.wl{
    text-align: center;
    font-weight: bold;
}
.input-group{
    border-radius: 0px;height: 50px;
}


/*end of search page*/
.btn-help{
    margin-top: 90px;
}
.btn-kk{
    border-radius: 0px;
    width: 250px;
    padding: 10px 16px;
    font-size: 18px;
    margin-top: 10px;
    color: #cdbfe3;
    text-decoration: none;
    background-color: #6f5499;
    border-width: .1em;
    border-color: #000;
    line-height: 1.3333333;
}
.btn-primary {
    border-radius: 0px;
    width: 250px;
    padding: 10px 16px;
    font-size: 18px;
    margin-top: 10px;
    border-radius: 16px;
    color: #fff;
    background-color: #F05F40;
    border-color: #F05F40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #6f5499;
  background-color: transparent;
  border-color: #204d74;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #6f5499;
  background-color: #transparent;
  border-color: #122b40;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-outline-inverse {
    color: #fff;
    background-color: transparent;
    border-color: #cdbfe3;
}
.btn-outline-inverse:hover {
    box-shadow: 0px 0px 0px 2px #6f5499 inset, 0px 0px 0px 4px #555 inset;
    border-color: transparent;
    text-decoration: none;
    color:#cdbfe3;
}
.recoveryform{
    margin-left: 15px;
}
.recoveryform textArea{
    margin-bottom: 0px;
}
.sub-block{
    background-color: #449d44;
    color: #e5e5e5;
    width: 80%;
    height: 20px;
    padding: 0 0 0 0;
    border-radius: 0px;
    margin-bottom: 20px;
}
.storysection{
    border-left: 1px #333 solid;
    height: 400px;     
}
.search-submit{
    background-color: #6f5499;
    border-radius: 0px;
    font-size: 16px;
    width: 620px;
    height: 40px;
    color: #fff;
    float: left;
    position: relative;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-color: #cdbfe3;
}
.search-submit:hover{
    background-color: #fff;
    border-radius: 0px;
    width: 620px;
    height: 40px;
    color: #6f5499;
    border-color: #cdbfe3;
}
.search-submit:after {
    content: "";
    color: #6f5499;
    background: #000;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    border-color: #cdbfe3;
    transition: all 0.8s
}

.search-submit:active:after {
    padding: 0;
    margin: 0;
    color: #6f5499;
    background: #6f5499;
    opacity: 1;
    border-color: #cdbfe3;
    transition: 0s
}
.half-rule{
    width: 400px;
    background-color: #449d44;
    margin: 30px auto;
}
.service-context{
    font-family: Consolas, Monaco, Courier New, Courier, monospace;
    line-height: 1.5;
    color: #555;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.service-context h4 {
    margin-bottom: 5px;
    font-weight: 400;
    color: #333;
}
.footer {
    font-family: Consolas, Monaco, Courier New, Courier, monospace;
    color: #777;
    text-align: center;
}
.footer-links li {
    display: inline;
    padding: 0 2px;
}
.footer-links {
    padding-left: 0;
    margin-top: 20px;
    color: #999;
}
.contact_banner{
    color: #fff;
}
.contact_banner h2{
    font-size: 38px;
}
.contact_banner p{
    font-size: 18px;
    margin-top: 15px;
}
#contact_form{
    margin-top: 25px;
} 
.search-data .btn{
    border-radius: 0; 
} 
.search-data{
    text-transform: capitalize;
    font-family:Consolas, Monaco, Courier New, Courier, monospace;
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    border-top: 0.5px solid #6f5499;
    margin-top: 15px; 
    padding: 30px 0;
}
.hr-maroon{
    color: #6f5499;
    width: 500px;
}
.btn-search{
    background-color: transparent;
    border-radius: 0px;
    width: 150px;
    padding: 8px 10px;
    font-size: 12px;
    color:#6f5499;
    border-color: #449d44;
    line-height: 1.3333333;
    margin-top: 60px;
}

#btn-found_to{
    background-color: #449d44;
    border-radius: 0px;
    width: 160px;
    padding: 8px 10px;
    font-size: 12px;
    color:#f5f5f5;
    border-color: #449d44;
    line-height: 1.3333333;
    margin-top: 100px;
}
.btn-found_to{
    background-color: #449d44;
    border-radius: 0px;
    width: 120px;
    padding: 8px 10px;
    font-size: 12px;
    color:#f5f5f5;
    border-color: #449d44;
    line-height: 1.3333333;
    margin-top: 100px;
}
.dropdown-found{
    background-color: #449d44;
}
#pata-help{
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    font-family:Consolas, Monaco, Courier New, Courier, monospace;
    margin-bottom: 0;
}
.btn-search:hover{
    background-color: #449d44;
    color: #fff;
}
.rowbtn .row{
    margin-top: 0px;
}
.bus-img-icon{
    padding-right: 5px; 
    float: left; 
} 
/*index side section*/
.affix .left-panel{
    background-color: #D0D0D0;
    position: fixed;
    width: 263px;
    top:20px;
}
.lower-section{
    margin-top: 50px;
}
.well-section{
    min-height:700px;
    border-radius: 6px;  
}
.sidebar-module-inset {
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 6px;
}
.sidebar-module {
    padding: 15px;
    margin: 0 -15px 35px;
}
.blog-description {
    font-size: 20px;
    color: #999;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}
.placeholder {
    margin-bottom: 20px;
    min-height: 100px;
}
.placeholders{
    text-align: center;
}
.nav:hover{
    background-color: transparent;
}
.btn-outline {
    color: #563d7c;
    background-color: transparent;
    border-color: #563d7c;
}
.btn-outline:hover,.btn-outline:focus,.btn-outline:active {
    color:#fff;
    background-color:#563d7c;
    border-color:#563d7c
}
.pata-img {
    height: 250px;
}
/*ticket form*/
.ticketForm{
    color: #31708f;
    background-color: transparent;
    border-color: #bce8f1;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.hr-black{
    color: #fff;
    width: 500px;
}
.pull-center{
    text-align: center;
}

.btn-found:active:hover,
.btn-found.active:hover,
.open > .dropdown-toggle.btn-found:hover,
.btn-found:active:focus,
.btn-found.active:focus,
.open > .dropdown-toggle.btn-found:focus,
.btn-found:active.focus,
.btn-found.active.focus,
.open > .dropdown-toggle.btn-found.focus {
    color: #fff;
    background-color: #398439;
    border-color: #255625;
}
/*chat panel*/
.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}
/*pagination*/
.pagination li{
                list-style: none;
                float: left;
                width: 30px;
                height: 30px;
                padding-top: 5px;
                border: 1px solid white;
                background-color: #6f5499;
                color: #fff;
                text-align: center;
                font-weight: bold;
                cursor:default;
            }
            .pagination li:hover{
                background-color: #fff;
                color: #6f5499;
                border-color: #6f5499;
            }
            .pagination ul{
                border: 0px;
                padding: 0px;
            }
            .pagination{
                margin-left: 400px;
            }
            .pagination:hover{
                border-color: #6f5499;
            }
//login page
.login_header{
    color: white;
    text-align: center;
    font-size: 43px;
}